### Handling ordinal categories

In [1]:
import pandas as pd
import datetime

In [2]:
date_base=datetime.datetime.today()
date_list=[date_base-datetime.timedelta(days=x)for x in range(0,20)]
df=pd.DataFrame(date_list)
df.columns=['Days']
df

                         Days
0  2020-07-11 15:44:21.551889
1  2020-07-10 15:44:21.551889
2  2020-07-09 15:44:21.551889
3  2020-07-08 15:44:21.551889
4  2020-07-07 15:44:21.551889
5  2020-07-06 15:44:21.551889
6  2020-07-05 15:44:21.551889
7  2020-07-04 15:44:21.551889
8  2020-07-03 15:44:21.551889
9  2020-07-02 15:44:21.551889
10 2020-07-01 15:44:21.551889
11 2020-06-30 15:44:21.551889
12 2020-06-29 15:44:21.551889
13 2020-06-28 15:44:21.551889
14 2020-06-27 15:44:21.551889
15 2020-06-26 15:44:21.551889
16 2020-06-25 15:44:21.551889
17 2020-06-24 15:44:21.551889
18 2020-06-23 15:44:21.551889
19 2020-06-22 15:44:21.551889

In [3]:
df['day_of_week']=df['Days'].dt.day_name()
df.head()

                        Days day_of_week
0 2020-07-11 15:44:21.551889    Saturday
1 2020-07-10 15:44:21.551889      Friday
2 2020-07-09 15:44:21.551889    Thursday
3 2020-07-08 15:44:21.551889   Wednesday
4 2020-07-07 15:44:21.551889     Tuesday

In [4]:
week_map={'Monday':1,
         'Tuesday':2,
         'Wednesday':3,
         'Thursday':4,
         'Friday':5,
         'Saturday':6,
         'Sunday':7}

In [5]:
df['ordinal_day']=df['day_of_week'].map(week_map)
df

                         Days day_of_week  ordinal_day
0  2020-07-11 15:44:21.551889    Saturday            6
1  2020-07-10 15:44:21.551889      Friday            5
2  2020-07-09 15:44:21.551889    Thursday            4
3  2020-07-08 15:44:21.551889   Wednesday            3
4  2020-07-07 15:44:21.551889     Tuesday            2
5  2020-07-06 15:44:21.551889      Monday            1
6  2020-07-05 15:44:21.551889      Sunday            7
7  2020-07-04 15:44:21.551889    Saturday            6
8  2020-07-03 15:44:21.551889      Friday            5
9  2020-07-02 15:44:21.551889    Thursday            4
10 2020-07-01 15:44:21.551889   Wednesday            3
11 2020-06-30 15:44:21.551889     Tuesday            2
12 2020-06-29 15:44:21.551889      Monday            1
13 2020-06-28 15:44:21.551889      Sunday            7
14 2020-06-27 15:44:21.551889    Saturday            6
15 2020-06-26 15:44:21.551889      Friday            5
16 2020-06-25 15:44:21.551889    Thursday            4
17 2020-06-24 15:44:21.551889   Wednesday            3
18 2020-06-23 15:44:21.551889     Tuesday            2
19 2020-06-22 15:44:21.551889      Monday            1